.landing-section {
    padding: 20px;  /* Add some padding for spacing */
}

.services-section {
    margin-top: 60px;
}

body {
    background-color: #f8f8f8;
}


.landing-section .columns {
    height: 90vh;  
}

.landing-section .column.is-one-third:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: flex-start; 
}


.landing-section .title {
    font-size: 2.5rem;  
    font-weight: bold;
    color: #333;
}


.landing-section .subtitle {
    font-size: 1.2rem;
    color: #555;
    max-width: 80%;
    margin-top: 30px;
}

.landing-section .column.is-two-thirds.image-column {
    background-image: url('/images/gaming_pc.jpg');  
    background-size: cover;  
    background-position: center;  
    height: 90vh;  
  }
  
  .landing-section .column.is-one-third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 50px;
  }