body {
  background-color: #252A34; /* Dark grey instead of black */
}

.card .image img {
  object-fit: contain;
  padding-left: 5px;
  padding-right: 5px;
}

.preview-btn{
  margin-right: 20px;
  margin-bottom: 30px;
}

.price {
  font-weight: bold;
  font-size: 18px;
}

#previewTitle {
max-width: 100%;
}

.pagination{
  margin-top: 40px;
}